<%- include('partials/header') %>

<% if (locals.book) { %>
<div class="max-w-3xl mx-auto p-6 mb-6 bg-whtie-50 shadow-md rounded-md">
    <h2 class="text-2xl font-semibold mb-6 text-gray-800">
      Edite notes for "<%= book.title %>"
    </h2>
    <form action="/edit/<%= book.id %>" method="POST" class="space-y-4">
        <div class="mb-4">
            <label class="mb-2" for="readingDate">Date of Reading</label>
            <input class=" w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent p-4 bg-gray-100 focus:bg-white" name="readingDate" value="<%= book.reading_date %>" type="date">
        </div>
        <div class="mb-4">
            <label class="mb-2" for="recommendation">Recommendation rating out of 10</label>
            <input class="w-full bg-gray-100 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:bg-white" min="1" max="10" step="1" name="recommendation" type="number" value="<%= book.recommendation %>" >
        </div>
      <div>
        <label class="mb-2" for="notes">Write your notes here</label>
        <textarea name="notes" rows="10" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-gray-100 focus:bg-white" placeholder="Write your notes here..."><%= book.notes %></textarea>
      </div>
      <input class="hidden" name="bookId" value="<%= book.id %>" type="text">
      <div class="flex justify-end">

        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            Update
        </button>

      </div>
    </form>
  </div>
<% } %>

<%- include("partials/footer") %>