<%- include("partials/header") %>

<% if (locals.book) { %>
<section class="px-4 py-8 md:py-12 lg:py-16">
  <div class="max-w-3xl mx-auto">
    <div class="bg-white shadow-md rounded-md overflow-hidden p-4">
      <div class="flex items-start space-x-4">
        <img
          src="<%= book?.thumbnail %>"
          alt="<%= book.title %> thumbnail"
          class="w-24 h-auto rounded"
        />
        <div class="flex-1">
          <h3 class="text-lg font-bold text-gray-800"><%= book.title %></h3>
          <p class="text-sm text-gray-600 mb-2">
            By: <%= book.author ? book.author.join(', ') : 'Author not available' %>
          </p>
          <p class="text-gray-700 text-sm">
            <%= book.description ? book.description : 'No description available.' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="max-w-3xl mx-auto p-6 mb-6 bg-whtie-50 shadow-md rounded-md">
    <h2 class="text-2xl font-semibold mb-6 text-gray-800">
      Write your notes for "<%= book.title %>"
    </h2>
    <form action="/submit-notes" method="POST" class="space-y-4">
        <div class="mb-4">
            <label class="mb-2" for="readingDate">Date of Reading</label>
            <input class=" w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent p-4 bg-gray-100 focus:bg-white" name="readingDate" type="date">
        </div>
        <div class="mb-4">
            <label class="mb-2" for="recommendation">Recommendation rating out of 10</label>
            <input class="w-full bg-gray-100 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent focus:bg-white" min="1" max="10" step="1" name="recommendation" type="number">
        </div>
      <div>
        <label class="mb-2" for="notes">Write your notes here</label>
        <textarea name="notes" rows="10" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-gray-100 focus:bg-white" placeholder="Write your notes here..."></textarea>
      </div>
      <input class="hidden" name="bookId" value="<%= book.id %>" type="text">
      <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          Submit
        </button>
      </div>
    </form>
  </div>
  

<% } %> <%- include("partials/footer") %>
